/* media query*/
@media(min-width:501px) and (max-width:768px){

    .body{
        max-width: 768px; }
    
    .white{
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100%;
        margin: auto;
        background-color: white;
        box-sizing: border-box;
       
        
    }
        .lightblack{
    
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
              margin: auto;
              box-sizing: border-box;
            background-color:#161616;
    
        }
    
        .black{
    
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
              margin: auto;
              box-sizing: border-box;
            background-color:black;
    
        }

}
@media(max-width: 500px){

    .body{
        max-width: 500px;
       
    }

    .white{
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100%;
        margin: auto;
        background-color: white;
        box-sizing: border-box;
       
    }
        .lightblack{
    
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
              margin: auto;
              box-sizing: border-box;
            background-color:#161616;
    
        }
    
        .black{
    
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
              margin: auto;
              box-sizing: border-box;
            background-color:black;
    
        }
    
    
    .menu{
        max-width: 500px;
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
    }
        .navbar{
            max-width: 500px;
            
          
        }

         
            .navbar ul li a{ 
                padding: 10px;      
              
           
         
   }    

   .navbar ul li{
    position: relative;
    top: -70px;
   
   }

 
 
    .txtwelcome{
        display: block;
        

    }

    
    .main2{

        display: block;
        max-width: 500px;
     
    }

    .main2 h2{

    display: none;
    }

    .main3{

        display: flex;
       flex-direction: column;
        flex-wrap: wrap;
        
     

      
       
       
      
      
    }

    .mrrl{margin: 0;}

.mrr{margin-left: 0;}

.profile{

    
     
   width: 100%;
    

  box-sizing: border-box;
  

}

.lightblack1{
   
 display: flex;
 flex-direction: row;
   width: 100%;
    box-sizing: border-box;


    }

    
  .article1{
      display: flex;
      flex-direction: column;
      width: 100%;
    
  }


  .about-me{
      width:100%;
  }
 
  .para{
      width: 100%;
  }
  .gallay{
      width: 100%;
      margin: 0;
      padding: 0;
  }

  
.box{
    width: 40%;
    height: 15vh;
    margin: 10px;

}
.footer{
    
    
    display: flex;
    

    background-color: whitesmoke;
   box-sizing: border-box;
    padding: 10px;
    text-align: center;
   
 
 
}

}  
    

  
