/* media query*/
@media(min-width:501px) and (max-width:768px){

    .body{
        max-width: 768px; }
    
    .white{
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100%;
        margin: auto;
        background-color: white;
        box-sizing: border-box;
       
    }
        .lightblack{
    
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
              margin: auto;
              box-sizing: border-box;
            background-color:#161616;
    
        }
    
        .black{
    
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
              margin: auto;
              box-sizing: border-box;
            background-color:black;
    
        }

}
@media(max-width: 500px){

    .body{
        max-width: 500px;
       
    }

    .white{
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100%;
        margin: auto;
        background-color: white;
        box-sizing: border-box;
       
    }
        .lightblack{
    
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
              margin: auto;
              box-sizing: border-box;
            background-color:#161616;
    
        }
    
        .black{
    
            padding-left: 30px;
            padding-right: 30px;
            max-width: 100%;
              margin: auto;
              box-sizing: border-box;
            background-color:black;
    
        }
    
    
    .menu{
        max-width: 400px;
        height: 50vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
    }
        .navbar{
            max-width: 400px;
            height: 20vh;
            margin-top: -10px;
            margin-left: -30px;
        }

         
            .navbar ul li a{ 
                padding: 10px;      
            
           
         
   }    

  .box1:nth-child(1){
      display: none;
  }

  .box1:nth-child(4){
    display: none;}

    .logo{
        flex-grow: 1;
    }

    .txtwelcome{
        display: block;
        height: 70vh;

    }

    .main2{

        display: block;
        max-width: 500px;
     
    }

    .main2 h2{

        margin: 0px;
        padding: 0px;

    }

    .main3{

        display: flex;
       
        flex-wrap: wrap;
        
        justify-content: space-evenly;
        padding: auto;
        max-width: 500px;
       
        height: 80vh;
      
      
    }

.profile{

    max-width: 400px;
    height: 50vh;
  
  box-sizing: border-box;
  

}

.article{
   
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
    margin-top: -50px;
    max-width: 500px;
    height: 290vh;
    box-sizing: border-box;

    clear:both;}

    .lightblack1 {
        position: relative;
        bottom: -1000px;
}

.article1{

    display: block;
    margin-top: -5px;
}




.article{

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   flex-wrap: wrap;

    max-width: 500px;
    height: 190vh;
    margin-top: 30px;

}

.about-me {

    max-width: 500px;
    height: 80vh;



}

.about-me h1{

    text-align: center;
    display: inline-flex;
}

.about-me img{

    width:100%;
    height: 70vh;
}

.para {
    display: inline;
    justify-content: space-between;
    margin-top: -90px;
    max-width: 100%;
    height: 40px;
   
    box-sizing: border-box;
   
}
 .list{
     display: inline-block;

 } 

 .box{
    width: 30%;
    height: 25vh;
    margin: 10px;

}

.gallay{

    width: 100%;
    height: 100%;

}

.footer{
    
    
    display: inline-block;
    width: 400px;
    height: 10vh;
    background-color: whitesmoke;
   box-sizing: border-box;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: -1200px;
 
}

}  
    

  
